* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

main {
    margin: auto;
    margin-bottom: 3vw;
    padding: 20px;
    padding-top: max(11vh, 100px);
    height: max-content;
    min-width: 85%;
    max-width: 95%;
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 3px 5px 30px #9dcae0;
}

.features_body {
    height: 100%;
}

.features__footer {
    padding: 0;
    margin: 0px;
    margin-top: auto;
    bottom: 0px;
    width: 100%;
}

h2 {
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
}

@media (min-width: ;)

.view {
    min-height: 100vh;
    position: relative;

}