* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Great Vibes';
  src: url(./Great_Vibes/GreatVibes-Regular.ttf);
  font-weight: 100;
  font-stretch: expanded;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
*,
::after,
::before {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

a,
hr {
  color: inherit;
}
*,
[class*="sr-only"],
ol,
ul {
  padding: 0;
}
.attribution a,
footer {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main {
  display: block;
  display: grid;
  place-items: center;
}
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}
ol,
ul {
  list-style: none;
}
abbr[title] {
  text-decoration: underline dotted;
}
embed,
iframe,
img,
object,
svg {
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: 0 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

.mainlogo {
  color: white;
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
  font-size: 3rem;
  text-shadow: 4px 2px 5px;
}
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled,
button:disabled {
  cursor: default;
}
:-moz-focusring {
  outline: auto;
}
select:disabled {
  opacity: inherit;
}
[contenteditable]:focus {
  outline: auto;
}
a,
h2,
h3 {
  font-weight: 600;
}
button {
  all: unset;
}
[type="button"],
[type="reset"],
[type="submit"],
button,
label[for] {
  cursor: pointer;
}
:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
body {
  max-width: 100vw;
  font-family: Barlow, sans-serif;
  min-height: 100vh;
  background: #fff;
}
a {
  background-color: transparent;
  text-decoration: none;
}
.figcaption__user-name,
.header__item:last-child,
.section__link,
h2,
h3 {
  font-family: Fraunces, serif;
  color: var(--Very-dark-desaturated-blue);
  font-size: larger;
}
.header__list,
blockquote {
  color: var(--Very-dark-grayish-blue);
}

[class*="sr-only"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
[aria-expanded="false"] {
  background: url(./images/icon-hamburger.svg);
}
[aria-expanded="true"] {
  background: url(./images/icon-close.svg);
}
:is(button, a):is(:focus, :focus-visible, :focus-within):not(.attribution a) {
  outline: gray dotted 3px;
  outline-offset: 0.35rem;
}
header {
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  position: fixed;
  padding: 2rem 1.5rem;
  background: #3cbdfd;
  z-index: 1;
  transition: 0.4s;
}
.header--active {
  box-shadow: rgba(0, 0, 0, 0.3) 0 7px 20px;
  padding: 1.6rem 1.5rem;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container a:hover {
  filter: invert(100%) saturate(0%) hue-rotate(321deg) brightness(200%) contrast(102%);
}

.header__list {
  position: fixed;
  min-height: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  width: 88%;
  background: #fff;
  text-align: center;
  margin: 3.4rem 0;
  font-size: 1.2rem;
  padding: 2.5rem 1rem;
  gap: 2.1rem;
  transition: 0.5s;
  visibility: hidden;
  transform: translate(-7%, -150%);
  opacity: 0.5;
}
.main__hero-container,
footer {
  align-content: center;
  gap: 3rem;
}
[aria-expanded="true"] + .header__list {
  visibility: visible;
  transform: translateX(-10%);
  opacity: 1;
}
.header__item:last-child {
  margin-top: 1.2rem;
  font-size: 1rem;
  color: var(--Very-dark-desaturated-blue);
}
.header__button:hover {
  color: white;
}
.header__item:last-child a {
  background: var(--yellow);
  padding: 1rem 1.8rem;
  border-radius: 5rem;
}
.header__list::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: -1.5rem;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #fff;
  z-index: -1;
}
.main__hero-container {
  display: grid;
  width: 100%;
  text-align: center;
  line-height: 3rem;
  text-transform: uppercase;
  min-height: 100vh;
  margin-bottom: 2rem;
}

.main__hero-container img {
  margin: auto;
  width: 90%;
  border-radius: 5px;
  box-shadow: 3px -3px 30px #b2dbf0 ;
}

.hero__heading {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  word-spacing: 0.1rem;
  color: invert(100%) saturate(0%) hue-rotate(321deg) brightness(200%) contrast(102%);
}
.hero__arrow-image {
  width: 2.3rem;
}

.section__heading {
  font-size: 3rem;
  font-weight: 100;
  margin-top: 1.5rem;
  margin-left: 1rem;
  text-transform: capitalize;
}

.team__section:nth-child(3) {
  min-height: 25rem;
}

.section__link::after {
  content: "";
  width: 9rem;
  height: 0.6rem;
  display: block;
  position: absolute;
  transform: translate(-0.7rem, -0.3rem);
  z-index: -2;
  border-radius: 5rem;
  transition: 0.5s;
  opacity: 0.45;
}
.main__first-section .section__link::after {
  background: hsla(50.9, 100%, 49%);
}
.main__second-section .section__link::after {
  background: hsla(6.8, 98.7%, 70%);
}
.section__link {
  letter-spacing: 0.1rem;
  font-size: 0.95rem;
  text-transform: uppercase;
}

.main__team {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 3rem 1.7rem 4.5rem;
}
.team__heading {
  text-transform: uppercase;
  font-size: 1rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.25rem;
  color: var(--grayish-blue);
}
.figcaption__text-block {
  font-size: 0.9rem;
  color: var(--Dark-grayish-blue);
}
.team__section {
  position: relative;
  display: grid;
  min-height: 23rem;
  align-content: end;
}
blockquote {
  font-size: 1.1rem;
  line-height: 2rem;
}
figcaption {
  display: grid;
  place-items: center;
  margin-top: 2.2rem;
  margin-bottom: 1rem;
}
.figcaption__user-name {
  font-size: 1.15rem;
  display: block;
  margin-bottom: 0.8rem;
}
figcaption img {
  width: 4.5rem;
  border-radius: 50%;
  position: absolute;
  top: 0rem !important;
}
.main__illustrative-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer {
  background-color: #3cbdfd;
  background-color: #3cbdfd;
  display: grid;
  min-height: 22rem;
  padding: 2rem;
}
.footer__navigations,
.footer__socials {
  display: grid;
  place-items: center;
}
.footer__socials {
  margin-top: 2.5rem;
}
.navigation__links,
.socials__links {
  display: flex;
}
.socials__links {
  gap: 1.8rem;
}
.socials__links img {
  aspect-ratio: 1/1;
}
.navigation__links {
  gap: 4rem;
}
.footer__home-link {
  margin: 1rem auto;
  color: white;
}

.footer__home-link:hover {
  color: white;
}

.footer__home-link:hover {
  filter: invert(38%) sepia(68%) saturate(342%) hue-rotate(118deg)
    brightness(58%) contrast(92%);
}

.footer__link {
  color: white;
}

[aria-expanded="true"] + .nav__menu-section {
  opacity: 1;
  transform: translateX(0);
}
.attribution {
  width: 100%;
  text-align: center;
  font-size: 0.775rem;
  position: absolute;
  bottom: 1em;
  opacity: 0.75;
}
.attribution,
.attribution a {
  transition: 0.5s;
  text-transform: none;
}
footer a:is(:hover) {
  filter: invert(100%) saturate(0%) hue-rotate(321deg) brightness(200%)
    contrast(102%);
}
a,
button {
  transition: 0.5s;
}



.home_features {
  margin-top: min(5vh, 50px);
  margin-bottom: min(5vh, 50px);
  width: 90vw;
  display: flex;
  height: min(90vh, 700px);
  text-align: justify;
}

.home_features img {
  min-width: min(65%, 700px);
  height: min(80vh, 500px);
  border-radius: 5px;
  box-shadow: 3px -3px 30px #b2dbf0 ;
  margin: 2.5vh 0;
}

.home_features p {
  text-align: justify;
  text-indent: 2.5rem;
  letter-spacing: .5px;
  line-height: 1.2rem;
  padding-top: 1.5rem;
}

.home_features h3 {
  text-align: center;
  font-size: 2rem;
}

.content_right {
  padding-left: min(5vw, 30px);
  margin: auto auto;
}
.content_left {
  padding-right: min(5vw, 30px);
  margin: auto 0;
}

.about_section__block p {
  text-align: justify;
  text-indent: 2.5rem;
  letter-spacing: .5px;
  line-height: 1.2rem;
  padding-top: 1.5rem;
}

.about_section__block {
  text-align: center;
  box-sizing: border-box;
  max-width: min(90% 90vw);
  height: 100%;
  border-radius: 5px;
  box-shadow: 3px -3px 30px #b2dbf0 ;
  margin: max(4vh, 5%) 0;
  padding: min(3vw, 2rem) min(5vw, 3rem);
}

.about_section__block h2 {
  word-spacing: 1rem;
}






















@media (min-width: 56rem) {
  header {
    padding: 1rem 2.6rem;
  }
  .header__container a {
    width: 10.5rem;
  }
  .header__list::before,
  .header__menu-button {
    display: none;
  }
  .header__list {
    position: static;
    flex-direction: revert;
    padding: 0;
    min-height: unset;
    margin: 0;
    transform: unset;
    visibility: visible;
    opacity: 1;
    font-size: 1.1rem;
    color: #fff;
    background: unset;
    gap: 3.1rem;
    align-content: center;
    width: unset;
  }
  .hero__heading {
    font-size: 1.45rem;
    letter-spacing: 0.3rem;
    word-spacing: 0.4rem;
    font-weight: 700;
    margin-left: -0.5rem;
  }
  .header--active {
    box-shadow: rgba(0, 0, 0, 0.3) 0 7px 20px;
    padding: 2rem 2.6rem;
  }
  .header__list li:last-child a:hover {
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
  }
  .main__hero-container {
    padding-top: 8rem;
    gap: 2rem;
    min-height: 50rem;
    background-image: #fff;

  }
  .header__item:last-child a {
    background: #fff;
    letter-spacing: -0.02rem;
  }
  .header__item:last-child {
    margin: -0.3rem 0.5rem 0 0;
  }
  .main__first-section,
  .main__second-section {
    width: 90%;
    margin-top: min(8vh, 100px);
  }
  
  .section__heading {
    font-family: 'Great Vibes';
    font-size: 4rem;
    letter-spacing: -0.01rem;
    font-weight: 100;
  }
  .section__description {
    word-spacing: 0.03rem;
    line-height: 1.85rem;
    margin-bottom: 0.8rem;
  }
  .section__link {
    margin-left: 0.7rem;
    word-spacing: -0.1rem;
  }

  .section__link:hover::after {
    opacity: 0.8;
  }
  
  .main__sub-container p {
    line-height: 1.7rem;
    margin-bottom: 1.2rem;
    letter-spacing: -0.01rem;
  }
  .main__sub-container section {
    min-height: 37.5rem;
    padding-bottom: 2.5rem;
  }
  .team__divider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 82%;
    margin-top: 2rem;
  }
  .team__section {
    min-height: 26rem;
    place-items: center;
  }
  blockquote {
    width: 90%;
  }
  figcaption img {
    top: 3.7rem;
  }
  .main__team {
    padding: 9.1rem 1.7rem 9.7rem;
  }
  .team__heading {
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    word-spacing: -0.1rem;
    margin: 1rem 0 0.5rem 0.1rem;
  }
  figcaption {
    margin: 4.5rem 0 0.55rem;
  }
  .figcaption__text-block {
    margin-left: -1rem;
  }
  .figcaption__user-name {
    font-size: 1.2rem;
  }
  .main__illustrative-section:last-of-type {
    grid-template-columns: repeat(4, 1fr);
  }
  footer {
    padding-top: 2.4rem;
    gap: 2.7rem;
  }
  .footer__socials {
    margin-top: 3rem;
  }
  .attribution {
    font-size: 0.9rem;
  }
  .attribution a {
    padding: 0.3rem;
  }
  .attribution a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--dark-desaturated-cyan);
    transition: 0.7s;
    z-index: -1;
    transform: rotate(-2deg);
  }
  .attribution a:hover {
    color: #f7f7f7;
    filter: brightness();
  }
  .attribution a:hover::before {
    width: 100%;
  }
}

.footer__link {
  color: white;
}

@media screen {
  
}